body {
    background-color: black;
    background-image: url("../images/main-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 

    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#main-nav {
    background-color: #343434;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.nav-link-home,
.nav-link-about,
.nav-link-services,
.nav-link-contact,
.nav-link-logout {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0 15px;
}

.nav-link-home:hover ,
.nav-link-about:hover ,
.nav-link-services:hover ,
.nav-link-contact:hover ,
.nav-link-logout:hover {
    text-decoration: none;
    color: aqua;
}

/* Add some styles for responsiveness */
@media screen and (max-width: 600px) {
    .nav-list {
        flex-direction: column;
    }

    .nav-link-home,
    .nav-link-about,
    .nav-link-services,
    .nav-link-contact,
    .nav-link-logout {
        margin: 10px 0;
    }
}

.content {
    margin-top: 60px; /* Adjust this margin to prevent content from being hidden behind the fixed navbar */
}
